    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Google Maps Weather API</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/weather">Weather</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


<ui-gmap-google-map center='map.center' zoom='map.zoom'>
	<ui-gmap-marker idKey="marker.id" coords="marker.coords">

	</ui-gmap-marker>

</ui-gmap-google-map>

<h4>Latitude: {{currentPosition.latitude}}</h4>
<h4>Longitude: {{currentPosition.longitude}}</h4>
<p ng-show="errorMessage">{{errorMessage}}</p>

